body {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  border-radius:2px;
}

.category {
  display:inline-block;
}


.box {
  float:left;
  margin:10px;
}

.box h3 {
  text-align: center;
  width: 200px;
  line-height:2em;
  margin:5px 0;
  background-color: cornflowerblue;
  color:white;
  display:block;
  border-radius:2px;
}

.boxContent {
  border-radius:2px;  
  width: 180px;
  height:180px;
  padding:10px;
  margin:0;
  background-color: white;
}

