body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  border-radius:2px;
}

.category {
  display:inline-block;
}


.box {
  float:left;
  margin:10px;
}

.box h3 {
  text-align: center;
  width: 200px;
  line-height:2em;
  margin:5px 0;
  background-color: cornflowerblue;
  color:white;
  display:block;
  border-radius:2px;
}

.boxContent {
  border-radius:2px;  
  width: 180px;
  height:180px;
  padding:10px;
  margin:0;
  position:relative;
  background-color: white;
}

.boxContent p {
  margin-top: 0;
}

.boxGotoLink {
  display:block;
  color:black;
  text-decoration: none;
  background-color: whitesmoke;

  border: 1px solid lightgray;
  border-radius: 2px;

  position:absolute;
  bottom:5%;
  right:5%;
  padding:2% 5%;
}

.status {
  font-size: 0.8em;
  list-style: none;
  padding-left: 0;
}

.statusTitle {
  float:left;
  font-weight: bolder;
}

.statusValue {
  float:right;
}